# PBS configuration
# If submitting to a different project to your default uncomment line below 
# and change project code as appropriate
project: v45 
queue: normal
walltime: 3:30:00
jobname: 01deg_jra55_ryf_cool
ncpus: 5180

# Force payu to always find, and save, files in this short (or scratch) project directory
shortpath: /scratch/e14

# Model configuration
name: common
model: access-om2
input: /g/data/ik11/inputs/access-om2/input_08022019/common_01deg_jra55
submodels:
    - name: atmosphere
      model: yatm
      exe: /g/data/ik11/inputs/access-om2/bin/yatm_0ab7295.exe
      input:
            - /g/data/ik11/inputs/access-om2/input_08022019/yatm_01deg
            - /g/data/ua8/JRA55-do/RYF/v1-3/
      ncpus: 1

    - name: ocean
      model: mom
      exe: /g/data/ik11/inputs/access-om2/bin/fms_ACCESS-OM-BGC_6256fdc_libaccessom2_0ab7295.x
      input: /g/data/ik11/inputs/access-om2/input_08022019/mom_01deg
      ncpus: 4358

    - name: ice
      model: cice5
      exe: /g/data/ik11/inputs/access-om2/bin/cice_auscom_3600x2700_722p_2572851_libaccessom2_0ab7295.exe
      input: /g/data/ik11/inputs/access-om2/input_08022019/cice_01deg
      ncpus: 799

# Collation
collate:
  restart: true
  mpi: true
  walltime: 4:00:00
  mem: 16GB
  ncpus: 4
  queue: normal
  exe: /g/data/ik11/inputs/access-om2/bin/mppnccombine-fast

# Misc
runlog: true
stacksize: unlimited
restart_freq: 1  # use tidy_restarts.py instead
mpirun: --mca io ompio --mca io_ompio_num_aggregators 1
qsub_flags: -W umask=027
env:
    UCX_LOG_LEVEL: 'error'
storage:
      gdata:
          - ua8
# set number of cores per node (28 for normalbw, 48 for normal on gadi)
platform:
    nodesize: 48
mpi:
    module: openmpi/4.0.1


# DANGER! Do not uncomment this without checking the script is synching 
# to the correct location!
# postscript: sync_output_to_gdata.sh
